:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #18e8f2, #d51b76);
}

img {
  max-width: 100%;
  height: auto;
}

/* #73a820 */